.card {
  width: 200px;
  height: 260px;
  background: linear-gradient(135deg,rgb(0, 0, 0),rgb(29, 29, 36));
  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 8px;
}

.card h1 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.card p {
  margin: 0;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
