.card{
  width: 200px;
  height: 200px;
  color: aliceblue;
  background: linear-gradient(45deg,rgb(0, 0, 0),rgb(23, 3, 52));
  padding: 5px;
  margin: 12px;
  text-align: center;
  border-radius: 12px;
  transition: box-shadow 0.3s,scale 0.3s;
}
.card:hover{
  box-shadow: 10px 10px 30px rgb(97, 97, 97);
  scale: 0.8;
}