.search-input {
  padding: 10px;
  width: 300px;
  margin: 20px;
  font-size: 16px;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 10px;
}
